In [9]:
from math import radians
radians(180)
help(radians)

Help on built-in function radians in module math:

radians(x, /)
    Convert angle x from degrees to radians.

## Time and Date using package:-

In [29]:
import datetime as dt # importing 'package' datetime as 'dt'
import time as tm # importing package 'time' as 'tm'
tm.time() # calling tm from time

1543890441.7584217

In [47]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2018, 12, 4, 8, 34, 18, 675707)

In [31]:
dtnow.year,dtnow.month,dtnow.day,dtnow.hour,dtnow.minute,dtnow.second

(2018, 12, 4, 7, 57, 24)

In [33]:
z="authentication"
print(z.replace("u","_"))

a_thentication

In [37]:
import numpy as ni
store = ni.array(["Z","Z","Y","Y"])
cost = ni.array([8,7,8,9])
select_cost=cost[store=="Y"]
print(select_cost)

[8 9]

In [42]:
m=ni.array([2,3,4])
n=ni.array([3,2,1])
square=(m ** n)
print(square)

[8 9 4]

In [48]:
height=[34,45.54,67,56,47]
weight=[60,65,23,70,78]
import numpy as nm
nm_height=nm.array(height)
nm_weight=nm.array(weight)
print(nm_height)
print(nm_weight)
BMI=nm_weight/(nm_height ** 2)
print(BMI)

[34.   45.54 67.   56.   47.  ]
[60 65 23 70 78]
[0.05190311 0.03134204 0.00512364 0.02232143 0.0353101 ]

In [53]:
class Person:
    department="School of Information"
    
    def set_name(self,new_name):
        self.name=new_name
    def set_location=(self,new_location):
        self.location=new_location

SyntaxError: invalid syntax (<ipython-input-53-f457243ea5e6>, line 6)

In [54]:
person=Person()
person.set_name=('nikhil pandarge')
person.set_location=('Latur')
print(person.set_name,person.set_loction,person.department)

NameError: name 'Person' is not defined

In [67]:
store=[12,34.5,35.45,23]
store_1=[21,5.43,54.53,32]
cheap=map(min,store,store_1)
cheap

In [68]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [70]:
['a','b','c'] + [1,2,3]

['a', 'b', 'c', 1, 2, 3]

In [72]:
type(lambda x: x+1)

function

In [75]:
type([x**2 for x in range(10)] ),

(list,)

# Pandas in Data Science:-
## Using Data Structure

In [80]:
import pandas as pd
pd.Series?

In [83]:
animals = ['Tiger','Dogs','Cat','Anything Else']
print(pd.Series(animals))
type(animals)

0            Tiger
1             Dogs
2              Cat
3    Anything Else
dtype: object

list

In [88]:
numbers=['1',2,'nikhil']
print(pd.Series(numbers))
print(type(numbers[0]))
print(type(numbers[1]))
type(numbers[2])

0         1
1         2
2    nikhil
dtype: object
<class 'str'>
<class 'int'>

str

In [92]:
numbers=(1,2,None)
print(pd.Series(numbers))
type(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

tuple

In [94]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [96]:
numbers=['nikhil',3005,'pandarge']
pd.Series(numbers)

0      nikhil
1        3005
2    pandarge
dtype: object

In [100]:
import numpy as np
np.isnan(np.nan)

True

- ##  Querying A Series:-

In [123]:
sports={'India_A':'Hockey',
       'England':'Cricket',
       'Estonia':'Baseball'}
s=pd.Series(sports)
s.index
s=pd.Series(sports,index=['India_A', 'England', 'Estonia'])
s

India_A      Hockey
England     Cricket
Estonia    Baseball
dtype: object

In [126]:
s.loc['England']

'Cricket'

In [129]:
s[2]

'Baseball'

In [131]:
s[0]

'Hockey'

In [134]:
s.loc['India_A']

'Hockey'

In [135]:
s.iloc[0]

'Hockey'

In [155]:
s=pd.Series([106,102,200,300,304])
s

0    106
1    102
2    200
3    300
4    304
dtype: int64

In [157]:
import numpy as np
total= np.sum(s)
print(total)

1012

In [216]:
s=pd.Series(np.random.randint(10,100,1000))
s.head()

0    10
1    23
2    35
3    63
4    54
dtype: int32

In [202]:
len(s)

100

In [206]:
%%timeit -n 100
summary = 0
for item in s:
    summary=summary+item

31.6 µs ± 13.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [213]:
%%timeit -n 100
summary=np.sum(s)

150 µs ± 41.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [218]:
s += 2
s.head()

0    14
1    27
2    39
3    67
4    58
dtype: int32