# Dictionaries in Python

## List

In [2]:
pop = [30.5,2.5,123.5]
country = ["Afg","Indo","Ind"]
variable_name=country.index("Ind")
print(variable_name)
pop[variable_name]

2

123.5

- Overcoming Drawback of List and that is *"Dictionary"

In [13]:
world = {"Afg":30.5,"Indo":2.55,"Ind":123.55}
print(type(world))
world["Afg"]

<class 'dict'>

30.5

In [15]:
world["sealand"]=0.27
world

{'Afg': 30.5, 'Indo': 2.55, 'Ind': 123.55, 'sealand': 0.27}

In [19]:
print('sealand' in world)
'Ind' in world

True

True

In [20]:
world['sealand']=0.28
world

{'Afg': 30.5, 'Indo': 2.55, 'Ind': 123.55, 'sealand': 0.28}

In [25]:
del(world["sealand"])

KeyError: 'sealand'

In [26]:
world

{'Afg': 30.5, 'Indo': 2.55, 'Ind': 123.55}

In [27]:
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }
europe

{'spain': {'capital': 'madrid', 'population': 46.77},
 'france': {'capital': 'paris', 'population': 66.03},
 'germany': {'capital': 'berlin', 'population': 80.62},
 'norway': {'capital': 'oslo', 'population': 5.084}}

In [30]:
print(europe['france']['capital'])

paris

In [37]:
# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data={'capital':'rome','population':59.83}

# Add data to europe under key 'italy'
europe['italy']=data

# Print europe
print(europe)

paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

- Pandas

In [139]:
dict = {'country':['Brazil','Russia','India','China','South-Africa','Canada'],
        'capital':['Brasilia','Moscow','Delhi','Beijing','Pretoria','Can'],
        'area':[8.56,17.10,3.28,9.56,1.22,23.44],
        'population':[200.4,143.5,1252,1323,52.8,34.55]}
import pandas as pd
brics = pd.DataFrame(dict)
brics.index=['BR','RU','IN','CH','SA','CA']
#(brics.loc[:,['capital','country']])
#brics.iloc[[1,2,3],[2,1,0]]
brics

         country   capital   area  population
BR        Brazil  Brasilia   8.56      200.40
RU        Russia    Moscow  17.10      143.50
IN         India     Delhi   3.28     1252.00
CH         China   Beijing   9.56     1323.00
SA  South-Africa  Pretoria   1.22       52.80
CA        Canada       Can  23.44       34.55

# comparision operators:-

## DataFrame

- Numeric Comparision:-

In [84]:
not(3 > 23)

True

In [85]:
2 == (1 + 1)

True

## numpy:-

    1.np.logical_and()
    2.np.logical_or()
    3.np.logical_not()

## 'if' , 'elif' and 'else'

In [98]:
is_huge = brics["area"] > 8

In [99]:
is_huge

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [100]:
brics[is_huge]

   country   capital   area  population
BR  Brazil  Brasilia   8.56       200.4
RU  Russia    Moscow  17.10       143.5
CH   China   Beijing   9.56      1323.0

In [101]:
brics[is_huge]

   country   capital   area  population
BR  Brazil  Brasilia   8.56       200.4
RU  Russia    Moscow  17.10       143.5
CH   China   Beijing   9.56      1323.0

## While loop

In [105]:
error = 50
while error > 1:
    error = error / 4
    print(error)
error

12.5
3.125
0.78125

0.78125

## For loop

In [112]:
fam = [1.23,2.34,3.45,4.56]
for index,height in enumerate(fam) :
    print("index",index,":",height )

index 0 : 1.23
index 1 : 2.34
index 2 : 3.45
index 3 : 4.56

In [115]:
world = {"Afg":12.34,
         "Ind":34.56,
         "Canda":56.78}
for key,values in world.items():
    print(key,"--->",values)

Afg ---> 12.34
Ind ---> 34.56
Canda ---> 56.78

In [136]:
for keys,row in brics.iterrows():
    brics.loc[key,"name_length"]= len(row["country"])
print(brics)

            country   capital   area  population  name_length
BR           Brazil  Brasilia   8.56      200.40          NaN
RU           Russia    Moscow  17.10      143.50          NaN
IN            India     Delhi   3.28     1252.00          NaN
CH            China   Beijing   9.56     1323.00          NaN
SA     South-Africa  Pretoria   1.22       52.80          NaN
CA           Canada       Can  23.44       34.55          NaN
Canda           NaN       NaN    NaN         NaN          6.0

In [140]:
for lab,row in brics.iterrows():
    brics.loc[lab,"name_length"]=len(row["country"])
print(brics)

         country   capital   area  population  name_length
BR        Brazil  Brasilia   8.56      200.40          6.0
RU        Russia    Moscow  17.10      143.50          6.0
IN         India     Delhi   3.28     1252.00          5.0
CH         China   Beijing   9.56     1323.00          5.0
SA  South-Africa  Pretoria   1.22       52.80         12.0
CA        Canada       Can  23.44       34.55          6.0