In [3]:
import h5py
import pandas as pd
file_h5py = 'L-L1_LOSC_4_V1-1126259446-32.hdf5'
data_hdf5 = h5py.File(file_h5py,'r')
print(data_hdf5)

<HDF5 file "L-L1_LOSC_4_V1-1126259446-32.hdf5" (mode r)>

In [6]:
for key in data_hdf5.keys():
    print(key)

meta
quality
strain

In [7]:
print(data_hdf5['meta'])

<HDF5 group "/meta" (8 members)>

In [8]:
for key in data_hdf5['meta'].keys():
    print(key)

Description
DescriptionURL
Detector
Duration
GPSstart
Observatory
Type
UTCstart

In [9]:
for key in data_hdf5['quality'].keys():
    print(key)

detail
injections
simple

- ## Scipy to rescue:
> - ### scipy.io.loadmat( )
> - ### scipy.io.savemat( )

In [11]:
import scipy.io
file_mat = 'ja_data2.mat'
data_mat = scipy.io.loadmat(file_mat)
print(data_mat)

{'__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Tue Nov 24 17:35:19 2015', '__version__': '1.0', '__globals__': [], 'rfpCyt': array([[  0.        , 238.62933333, 238.62264151, ..., 250.17403315,
        249.05801105, 251.3489011 ],
       [  0.        , 291.7718254 , 292.006     , ..., 269.99239544,
        271.32044199, 271.26086957],
       [  0.        , 252.45212766, 253.34851138, ..., 225.76428571,
        224.02909091, 226.38103757],
       ...,
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 373.45756458, 377.05420561, ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 415.25079365,   0.        , ..., 407.76514032,
        402.54331865, 409.40528634]]), 'rfpNuc': array([[  0.        , 183.34256055, 187.84859155, ..., 200.62101911,
        198.79566563, 201.73566879],
       [  0.        , 191.7195122 , 189.11340206, ..., 183.73829787,
        187.35918367, 189.04320988],
       [  0.        , 174.97307692, 174.79961464, ..., 157.78478664,
        157.32887189, 157.59962049],
       ...,
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 247.48251748, 249.63270142, ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 280.50465839,   0.        , ..., 249.66157761,
        247.85316456, 250.16287879]]), 'cfpNuc': array([[  0.        , 844.75086505, 874.15492958, ..., 710.70382166,
        715.50154799, 727.59872611],
       [  0.        , 643.34878049, 641.84020619, ..., 583.27021277,
        603.84897959, 608.45679012],
       [  0.        , 487.2       , 486.08863198, ..., 435.80705009,
        431.29063098, 439.29222011],
       ...,
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 535.31235431, 541.69194313, ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 793.31832298,   0.        , ..., 584.53435115,
        577.9835443 , 599.96085859]]), 'cfpCyt': array([[   0.        , 1519.37866667, 1518.73045822, ..., 1354.96132597,
        1352.75966851, 1367.18681319],
       [   0.        , 1175.74007937, 1176.164     , ..., 1098.57984791,
        1109.05893186, 1111.66847826],
       [   0.        ,  856.7535461 ,  856.88091068, ...,  736.54821429,
         738.08909091,  746.82110912],
       ...,
       [   0.        ,    0.        ,    0.        , ...,    0.        ,
           0.        ,    0.        ],
       [   0.        ,  908.85424354,  920.44859813, ...,    0.        ,
           0.        ,    0.        ],
       [   0.        , 1256.34603175,    0.        , ..., 1128.29542097,
        1122.6328928 , 1170.41703377]]), 'yfpNuc': array([[  0.        , 532.3633218 , 551.92253521, ..., 495.13375796,
        497.89783282, 507.28025478],
       [  0.        , 448.39268293, 448.56958763, ..., 399.82553191,
        417.9244898 , 421.81069959],
       [  0.        , 307.85576923, 308.32177264, ..., 283.20222635,
        281.00382409, 285.47628083],
       ...,
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 326.36363636, 330.20379147, ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 502.60869565,   0.        , ..., 418.83842239,
        417.3721519 , 426.93434343]]), 'yfpCyt': array([[  0.        , 951.432     , 944.48787062, ..., 939.66022099,
        936.        , 949.12912088],
       [  0.        , 840.49801587, 836.542     , ..., 767.11596958,
        781.38489871, 780.76811594],
       [  0.        , 578.08865248, 577.66725044, ..., 509.98035714,
        512.38181818, 515.31127013],
       ...,
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 577.48708487, 590.89719626, ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 812.01904762,   0.        , ..., 901.44756278,
        896.88399413, 920.85756241]]), 'CYratioCyt': array([[0.        , 1.53071547, 1.54297013, ..., 1.34990123, 1.35329984,
        1.34922173],
       [0.        , 1.28605578, 1.29385656, ..., 1.31307311, 1.30039694,
        1.30563938],
       [0.        , 1.32731222, 1.32884617, ..., 1.24887565, 1.24506205,
        1.25825831],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.44552606, 1.42862357, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.45794466, 0.        , ..., 1.1229479 , 1.12224652,
        1.1486481 ]])}

In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine("sqlite:///Chinook.sqlite")

In [22]:
engine_table = engine.table_names()
print(engine_table)

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

 ### Workflow of SQL querying
>● Import packages and functions

In [37]:
from sqlalchemy import create_engine

import pandas as pd

>● Create the database engine

In [38]:
engine = create_engine("sqlite:///Chinook.sqlite")

>● Connect to the engine

In [39]:
con = engine.connect()

>● Query the database

In [40]:
rs = con.execute('SELECT * from Album')

>● Save query results to a DataFrame

In [41]:
df = pd.DataFrame(rs.fetchall())

df.columns = rs.keys()

>● Close the connection

In [42]:
con.close()

In [43]:
print(df.head())

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [55]:
from sqlalchemy import create_engine

import pandas as pd

engine = create_engine("sqlite:///Chinook.sqlite")

con = engine.connect()

rs = con.execute("SELECT LastName , Title from Employee")


df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()

In [56]:
print(df.head(10))

   LastName                Title
0     Adams      General Manager
1   Edwards        Sales Manager
2   Peacock  Sales Support Agent
3      Park  Sales Support Agent
4   Johnson  Sales Support Agent
5  Mitchell           IT Manager
6      King             IT Staff
7  Callahan             IT Staff

In [57]:
# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute('SELECT * FROM Employee where EmployeeId >= 6')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print the head of the DataFrame df
print(df.head())

   EmployeeId  LastName FirstName       Title  ReportsTo            BirthDate  \
0           6  Mitchell   Michael  IT Manager          1  1973-07-01 00:00:00
1           7      King    Robert    IT Staff          6  1970-05-29 00:00:00
2           8  Callahan     Laura    IT Staff          6  1968-01-09 00:00:00

              HireDate                      Address        City State Country  \
0  2003-10-17 00:00:00         5827 Bowness Road NW     Calgary    AB  Canada
1  2004-01-02 00:00:00  590 Columbia Boulevard West  Lethbridge    AB  Canada
2  2004-03-04 00:00:00                  923 7 ST NW  Lethbridge    AB  Canada

  PostalCode              Phone                Fax                    Email
0    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899  michael@chinookcorp.com
1    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485   robert@chinookcorp.com
2    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772    laura@chinookcorp.com

In [60]:
# Create engine: engine
engine = create_engine("sqlite:///Chinook.sqlite")

# Open engine in context manager
with engine.connect() as con:
    rs = con.execute('select * from Employee ORDER BY BirthDate')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

    # Set the DataFrame's column names


# Print head of DataFrame
print(df.head())

   EmployeeId  LastName FirstName                Title  ReportsTo  \
0           4      Park  Margaret  Sales Support Agent        2.0
1           2   Edwards     Nancy        Sales Manager        1.0
2           1     Adams    Andrew      General Manager        NaN
3           5   Johnson     Steve  Sales Support Agent        2.0
4           8  Callahan     Laura             IT Staff        6.0

             BirthDate             HireDate              Address        City  \
0  1947-09-19 00:00:00  2003-05-03 00:00:00     683 10 Street SW     Calgary
1  1958-12-08 00:00:00  2002-05-01 00:00:00         825 8 Ave SW     Calgary
2  1962-02-18 00:00:00  2002-08-14 00:00:00  11120 Jasper Ave NW    Edmonton
3  1965-03-03 00:00:00  2003-10-17 00:00:00         7727B 41 Ave     Calgary
4  1968-01-09 00:00:00  2004-03-04 00:00:00          923 7 ST NW  Lethbridge

  State Country PostalCode              Phone                Fax  \
0    AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
1    AB  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
2    AB  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457
3    AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543
4    AB  Canada    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772

                      Email
0  margaret@chinookcorp.com
1     nancy@chinookcorp.com
2    andrew@chinookcorp.com
3     steve@chinookcorp.com
4     laura@chinookcorp.com

In [61]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine("sqlite:///Chinook.sqlite")

# Execute query and store records in DataFrame: df
df = pd.read_sql_query("SELECT * FROM Album",engine)

# Print head of DataFrame
print(df.head())

# Open engine in context manager and store query result in df1
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Album")
    df1 = pd.DataFrame(rs.fetchall())
    df1.columns = rs.keys()

# Confirm that both methods yield the same result
print(df.equals(df1))

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3
True

In [63]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('select * from Employee where EmployeeId >= 6 order by BirthDate',engine)

# Print head of DataFrame
print(df.head())

   EmployeeId  LastName FirstName       Title  ReportsTo            BirthDate  \
0           8  Callahan     Laura    IT Staff          6  1968-01-09 00:00:00
1           7      King    Robert    IT Staff          6  1970-05-29 00:00:00
2           6  Mitchell   Michael  IT Manager          1  1973-07-01 00:00:00

              HireDate                      Address        City State Country  \
0  2004-03-04 00:00:00                  923 7 ST NW  Lethbridge    AB  Canada
1  2004-01-02 00:00:00  590 Columbia Boulevard West  Lethbridge    AB  Canada
2  2003-10-17 00:00:00         5827 Bowness Road NW     Calgary    AB  Canada

  PostalCode              Phone                Fax                    Email
0    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772    laura@chinookcorp.com
1    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485   robert@chinookcorp.com
2    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899  michael@chinookcorp.com

In [64]:
# Execute query and store records in DataFrame: df
df = pd.read_sql_query(
    "SELECT * FROM PlaylistTrack INNER JOIN Track ON PlaylistTrack.TrackId = Track.TrackId WHERE Milliseconds < 250000",
    engine
)

# Print head of DataFrame
print(df.head())

   PlaylistId  TrackId  TrackId              Name  AlbumId  MediaTypeId  \
0           1     3390     3390  One and the Same      271            2
1           1     3392     3392     Until We Fall      271            2
2           1     3393     3393     Original Fire      271            2
3           1     3394     3394       Broken City      271            2
4           1     3395     3395          Somedays      271            2

   GenreId Composer  Milliseconds    Bytes  UnitPrice
0       23     None        217732  3559040       0.99
1       23     None        230758  3766605       0.99
2       23     None        218916  3577821       0.99
3       23     None        228366  3728955       0.99
4       23     None        213831  3497176       0.99