In [5]:
cookies = ["chocolate","pie","jaguar","sugar"]
cookies.append('Tirrgel')
type(cookies)

list

In [6]:
print(cookies[2])

jaguar

In [8]:
cakes = ['strawberry','vanilla']
total_cakes = cookies + cakes
print(total_cakes)

['chocolate', 'pie', 'jaguar', 'sugar', 'Tirrgel', 'strawberry', 'vanilla']

In [14]:
position = total_cakes.index('pie')
position

1

In [16]:
total_cakes.extend(['Nikhil','Pandarge'])
total_cakes

['chocolate',
 'pie',
 'jaguar',
 'sugar',
 'Tirrgel',
 'strawberry',
 'vanilla',
 'Nikhil',
 'Pandarge']

In [18]:
# Create a list containing the names: baby_names
baby_names = ['Ximena','Aliza','Ayden','Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.extend(['Rowen','Sandeep'])

# Print baby_names
print(baby_names)

# Find the position of 'Aliza': position
position = baby_names.index('Aliza')

# Remove 'Aliza' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']
['Ximena', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

In [31]:
import pandas as pd

In [28]:
import json
with open("another.json") as json_file:
    json_data = json.load(json_file)
    print((json_data['Director']))

The movie in question was nominated for 3 Oscar awards, the director is Richard Donner and there is no Box Office information.

In [35]:
import pandas as pd
import numpy as np
airquality = pd.read_csv('airquality.csv')

# Print the head of airquality
print(airquality.head())

# Melt airquality: airquality_melt
airquality_melt = pd.melt(airquality, id_vars=['Month', 'Day'])

# Print the head of airquality_melt
print(airquality_melt.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
   Month  Day variable  value
0      5    1    Ozone   41.0
1      5    2    Ozone   36.0
2      5    3    Ozone   12.0
3      5    4    Ozone   18.0
4      5    5    Ozone    NaN

In [36]:
# Print the head of airquality
print(airquality.head())

# Melt airquality: airquality_melt
airquality_melt = pd.melt(airquality, id_vars=['Month', 'Day'], var_name='measurement', value_name='reading')

# Print the head of airquality_melt
print(airquality_melt.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
   Month  Day measurement  reading
0      5    1       Ozone     41.0
1      5    2       Ozone     36.0
2      5    3       Ozone     12.0
3      5    4       Ozone     18.0
4      5    5       Ozone      NaN

In [37]:
# Print the head of airquality_melt
print(airquality_melt.head())

# Pivot airquality_melt: airquality_pivot
airquality_pivot = airquality_melt.pivot_table(index=['Month', 'Day'], columns='measurement', values='reading')

# Print the head of airquality_pivot
print(airquality_pivot.head())

   Month  Day measurement  reading
0      5    1       Ozone     41.0
1      5    2       Ozone     36.0
2      5    3       Ozone     12.0
3      5    4       Ozone     18.0
4      5    5       Ozone      NaN
measurement  Ozone  Solar.R  Temp  Wind
Month Day
5     1       41.0    190.0  67.0   7.4
      2       36.0    118.0  72.0   8.0
      3       12.0    149.0  74.0  12.6
      4       18.0    313.0  62.0  11.5
      5        NaN      NaN  56.0  14.3

In [38]:
# Print the index of airquality_pivot
print(airquality_pivot.index)

# Reset the index of airquality_pivot: airquality_pivot
airquality_pivot_reset = airquality_pivot.reset_index()

# Print the new index of airquality_pivot_reset
print(airquality_pivot_reset.index)

# Print the head of airquality_pivot_reset
print(airquality_pivot_reset.head())

MultiIndex(levels=[[5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]],
           names=['Month', 'Day'])
RangeIndex(start=0, stop=153, step=1)
measurement  Month  Day  Ozone  Solar.R  Temp  Wind
0                5    1   41.0    190.0  67.0   7.4
1                5    2   36.0    118.0  72.0   8.0
2                5    3   12.0    149.0  74.0  12.6
3                5    4   18.0    313.0  62.0  11.5
4                5    5    NaN      NaN  56.0  14.3

In [39]:
# Pivot table the airquality_dup: airquality_pivot
airquality_pivot = airquality_dup.pivot_table(index=['Month','Day'], columns='measurement', values='reading', aggfunc=np.mean)

# Print the head of airquality_pivot before reset_index
print(airquality_pivot.head())

# Reset the index of airquality_pivot
airquality_pivot = airquality_pivot.reset_index()

# Print the head of airquality_pivot
print(airquality_pivot.head())

# Print the head of airquality
print(airquality.head())

NameError: name 'airquality_dup' is not defined

In [42]:
import pandas as pd
import numpy as np
tb = pd.read_csv('tb.csv')
print(tb.head())
tb_melt = pd.melt(frame=tb,id_vars=['country','year'])

tb_melt['gender'] = tb_melt.variable.str[0]
print(tb_melt)

tb_melt['age_group'] = tb_melt.variable.str[1:]
print(tb_melt)

  country  year  m014  m1524  m2534  m3544  m4554  m5564   m65  mu  f014  \
0      AD  2000   0.0    0.0    1.0    0.0    0.0    0.0   0.0 NaN   NaN
1      AE  2000   2.0    4.0    4.0    6.0    5.0   12.0  10.0 NaN   3.0
2      AF  2000  52.0  228.0  183.0  149.0  129.0   94.0  80.0 NaN  93.0
3      AG  2000   0.0    0.0    0.0    0.0    0.0    0.0   1.0 NaN   1.0
4      AL  2000   2.0   19.0   21.0   14.0   24.0   19.0  16.0 NaN   3.0

   f1524  f2534  f3544  f4554  f5564   f65  fu
0    NaN    NaN    NaN    NaN    NaN   NaN NaN
1   16.0    1.0    3.0    0.0    0.0   4.0 NaN
2  414.0  565.0  339.0  205.0   99.0  36.0 NaN
3    1.0    1.0    0.0    0.0    0.0   0.0 NaN
4   11.0   10.0    8.0    8.0    5.0  11.0 NaN
     country  year variable   value gender
0         AD  2000     m014     0.0      m
1         AE  2000     m014     2.0      m
2         AF  2000     m014    52.0      m
3         AG  2000     m014     0.0      m
4         AL  2000     m014     2.0      m
5         AM  2000     m014     2.0      m
6         AN  2000     m014     0.0      m
7         AO  2000     m014   186.0      m
8         AR  2000     m014    97.0      m
9         AS  2000     m014     NaN      m
10        AT  2000     m014     1.0      m
11        AU  2000     m014     3.0      m
12        AZ  2000     m014     0.0      m
13        BA  2000     m014     4.0      m
14        BB  2000     m014     0.0      m
15        BD  2000     m014   256.0      m
16        BE  2000     m014     3.0      m
17        BF  2000     m014    12.0      m
18        BG  2000     m014     0.0      m
19        BH  2000     m014     0.0      m
20        BI  2000     m014     NaN      m
21        BJ  2000     m014    19.0      m
22        BM  2000     m014     NaN      m
23        BN  2000     m014     0.0      m
24        BO  2000     m014   166.0      m
25        BR  2000     m014  1894.0      m
26        BS  2000     m014     1.0      m
27        BT  2000     m014     6.0      m
28        BW  2000     m014    25.0      m
29        BY  2000     m014     NaN      m
...      ...   ...      ...     ...    ...
3186      SY  2000       fu     NaN      f
3187      SZ  2000       fu     NaN      f
3188      TC  2000       fu     NaN      f
3189      TG  2000       fu     NaN      f
3190      TH  2000       fu     NaN      f
3191      TJ  2000       fu     NaN      f
3192      TK  2000       fu     NaN      f
3193      TM  2000       fu     NaN      f
3194      TN  2000       fu     NaN      f
3195      TO  2000       fu     NaN      f
3196      TR  2000       fu     NaN      f
3197      TT  2000       fu     NaN      f
3198      TV  2000       fu     NaN      f
3199      TZ  2000       fu     NaN      f
3200      UA  2000       fu     NaN      f
3201      UG  2000       fu     NaN      f
3202      US  2000       fu     NaN      f
3203      UY  2000       fu     NaN      f
3204      UZ  2000       fu     NaN      f
3205      VC  2000       fu     NaN      f
3206      VE  2000       fu     NaN      f
3207      VG  2000       fu     NaN      f
3208      VN  2000       fu     NaN      f
3209      VU  2000       fu     NaN      f
3210      WS  2000       fu     NaN      f
3211      YE  2000       fu     NaN      f
3212      YU  2000       fu     NaN      f
3213      ZA  2000       fu     NaN      f
3214      ZM  2000       fu     NaN      f
3215      ZW  2000       fu     NaN      f

[3216 rows x 5 columns]
     country  year variable   value gender age_group
0         AD  2000     m014     0.0      m       014
1         AE  2000     m014     2.0      m       014
2         AF  2000     m014    52.0      m       014
3         AG  2000     m014     0.0      m       014
4         AL  2000     m014     2.0      m       014
5         AM  2000     m014     2.0      m       014
6         AN  2000     m014     0.0      m       014
7         AO  2000     m014   186.0      m       014
8         AR  2000     m014    97.0      m       014
9         AS  2000     m014     NaN      m       014
10        AT  2000     m014     1.0      m       014
11        AU  2000     m014     3.0      m       014
12        AZ  2000     m014     0.0      m       014
13        BA  2000     m014     4.0      m       014
14        BB  2000     m014     0.0      m       014
15        BD  2000     m014   256.0      m       014
16        BE  2000     m014     3.0      m       014
17        BF  2000     m014    12.0      m       014
18        BG  2000     m014     0.0      m       014
19        BH  2000     m014     0.0      m       014
20        BI  2000     m014     NaN      m       014
21        BJ  2000     m014    19.0      m       014
22        BM  2000     m014     NaN      m       014
23        BN  2000     m014     0.0      m       014
24        BO  2000     m014   166.0      m       014
25        BR  2000     m014  1894.0      m       014
26        BS  2000     m014     1.0      m       014
27        BT  2000     m014     6.0      m       014
28        BW  2000     m014    25.0      m       014
29        BY  2000     m014     NaN      m       014
...      ...   ...      ...     ...    ...       ...
3186      SY  2000       fu     NaN      f         u
3187      SZ  2000       fu     NaN      f         u
3188      TC  2000       fu     NaN      f         u
3189      TG  2000       fu     NaN      f         u
3190      TH  2000       fu     NaN      f         u
3191      TJ  2000       fu     NaN      f         u
3192      TK  2000       fu     NaN      f         u
3193      TM  2000       fu     NaN      f         u
3194      TN  2000       fu     NaN      f         u
3195      TO  2000       fu     NaN      f         u
3196      TR  2000       fu     NaN      f         u
3197      TT  2000       fu     NaN      f         u
3198      TV  2000       fu     NaN      f         u
3199      TZ  2000       fu     NaN      f         u
3200      UA  2000       fu     NaN      f         u
3201      UG  2000       fu     NaN      f         u
3202      US  2000       fu     NaN      f         u
3203      UY  2000       fu     NaN      f         u
3204      UZ  2000       fu     NaN      f         u
3205      VC  2000       fu     NaN      f         u
3206      VE  2000       fu     NaN      f         u
3207      VG  2000       fu     NaN      f         u
3208      VN  2000       fu     NaN      f         u
3209      VU  2000       fu     NaN      f         u
3210      WS  2000       fu     NaN      f         u
3211      YE  2000       fu     NaN      f         u
3212      YU  2000       fu     NaN      f         u
3213      ZA  2000       fu     NaN      f         u
3214      ZM  2000       fu     NaN      f         u
3215      ZW  2000       fu     NaN      f         u

[3216 rows x 6 columns]

In [78]:
ebola = pd.read_csv('ebola.csv')
print(ebola.shape)
#print(ebola.head())

ebola_melt = pd.melt(frame=ebola,id_vars=['Date','Day'],var_name='type_country',value_name='counts')
print("------------------------------------------------------------------->")
print(ebola_melt.shape)
print(ebola_melt.head())

ebola_melt['str_split'] = ebola_melt.type_country.str.split('_')
print('---------------------------------------------------------------------------------------->>')
print(ebola_melt.shape)
print(ebola_melt.head())

ebola_melt['type'] = ebola_melt['str_split'].str.get(0)
print("---------------------------------------------------------------------------------------------------->>>")
print(ebola_melt.shape)
print(ebola_melt.head())

ebola_melt['country'] = ebola_melt['str_split'].str.get(1)
print("------------------------------------------------------------------------------------------------------------------->>>>")
print(ebola_melt.shape)
print(ebola_melt.head(30))
print(ebola_melt.tail(30))

(122, 18)
------------------------------------------------------------------->
(1952, 4)
         Date  Day  type_country  counts
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0
---------------------------------------------------------------------------------------->>
(1952, 5)
         Date  Day  type_country  counts        str_split
0    1/5/2015  289  Cases_Guinea  2776.0  [Cases, Guinea]
1    1/4/2015  288  Cases_Guinea  2775.0  [Cases, Guinea]
2    1/3/2015  287  Cases_Guinea  2769.0  [Cases, Guinea]
3    1/2/2015  286  Cases_Guinea     NaN  [Cases, Guinea]
4  12/31/2014  284  Cases_Guinea  2730.0  [Cases, Guinea]
---------------------------------------------------------------------------------------------------->>>
(1952, 6)
         Date  Day  type_country  counts        str_split   type
0    1/5/2015  289  Cases_Guinea  2776.0  [Cases, Guinea]  Cases
1    1/4/2015  288  Cases_Guinea  2775.0  [Cases, Guinea]  Cases
2    1/3/2015  287  Cases_Guinea  2769.0  [Cases, Guinea]  Cases
3    1/2/2015  286  Cases_Guinea     NaN  [Cases, Guinea]  Cases
4  12/31/2014  284  Cases_Guinea  2730.0  [Cases, Guinea]  Cases
------------------------------------------------------------------------------------------------------------------->>>>
(1952, 7)
          Date  Day  type_country  counts        str_split   type country
0     1/5/2015  289  Cases_Guinea  2776.0  [Cases, Guinea]  Cases  Guinea
1     1/4/2015  288  Cases_Guinea  2775.0  [Cases, Guinea]  Cases  Guinea
2     1/3/2015  287  Cases_Guinea  2769.0  [Cases, Guinea]  Cases  Guinea
3     1/2/2015  286  Cases_Guinea     NaN  [Cases, Guinea]  Cases  Guinea
4   12/31/2014  284  Cases_Guinea  2730.0  [Cases, Guinea]  Cases  Guinea
5   12/28/2014  281  Cases_Guinea  2706.0  [Cases, Guinea]  Cases  Guinea
6   12/27/2014  280  Cases_Guinea  2695.0  [Cases, Guinea]  Cases  Guinea
7   12/24/2014  277  Cases_Guinea  2630.0  [Cases, Guinea]  Cases  Guinea
8   12/21/2014  273  Cases_Guinea  2597.0  [Cases, Guinea]  Cases  Guinea
9   12/20/2014  272  Cases_Guinea  2571.0  [Cases, Guinea]  Cases  Guinea
10  12/18/2014  271  Cases_Guinea     NaN  [Cases, Guinea]  Cases  Guinea
11  12/14/2014  267  Cases_Guinea  2416.0  [Cases, Guinea]  Cases  Guinea
12   12/9/2014  262  Cases_Guinea     NaN  [Cases, Guinea]  Cases  Guinea
13   12/7/2014  260  Cases_Guinea  2292.0  [Cases, Guinea]  Cases  Guinea
14   12/3/2014  256  Cases_Guinea     NaN  [Cases, Guinea]  Cases  Guinea
15  11/30/2014  253  Cases_Guinea  2164.0  [Cases, Guinea]  Cases  Guinea
16  11/28/2014  251  Cases_Guinea     NaN  [Cases, Guinea]  Cases  Guinea
17  11/23/2014  246  Cases_Guinea  2134.0  [Cases, Guinea]  Cases  Guinea
18  11/22/2014  245  Cases_Guinea     NaN  [Cases, Guinea]  Cases  Guinea
19  11/18/2014  241  Cases_Guinea  2047.0  [Cases, Guinea]  Cases  Guinea
20  11/16/2014  239  Cases_Guinea  1971.0  [Cases, Guinea]  Cases  Guinea
21  11/15/2014  238  Cases_Guinea     NaN  [Cases, Guinea]  Cases  Guinea
22  11/11/2014  234  Cases_Guinea  1919.0  [Cases, Guinea]  Cases  Guinea
23  11/10/2014  233  Cases_Guinea     NaN  [Cases, Guinea]  Cases  Guinea
24   11/9/2014  232  Cases_Guinea  1878.0  [Cases, Guinea]  Cases  Guinea
25   11/8/2014  231  Cases_Guinea     NaN  [Cases, Guinea]  Cases  Guinea
26   11/4/2014  227  Cases_Guinea     NaN  [Cases, Guinea]  Cases  Guinea
27   11/3/2014  226  Cases_Guinea  1760.0  [Cases, Guinea]  Cases  Guinea
28   11/2/2014  225  Cases_Guinea  1731.0  [Cases, Guinea]  Cases  Guinea
29  10/31/2014  222  Cases_Guinea     NaN  [Cases, Guinea]  Cases  Guinea
           Date  Day type_country  counts       str_split    type country
1922  5/23/2014   62  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1923  5/12/2014   51  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1924  5/10/2014   49  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1925   5/7/2014   46  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1926   5/5/2014   44  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1927   5/3/2014   42  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1928   5/1/2014   40  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1929  4/26/2014   35  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1930  4/24/2014   33  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1931  4/23/2014   32  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1932  4/22/2014   31  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1933  4/21/2014   30  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1934  4/20/2014   29  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1935  4/17/2014   26  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1936  4/16/2014   25  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1937  4/15/2014   24  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1938  4/14/2014   23  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1939  4/11/2014   20  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1940   4/9/2014   18  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1941   4/7/2014   16  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1942   4/4/2014   13  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1943   4/1/2014   10  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1944  3/31/2014    9  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1945  3/29/2014    7  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1946  3/28/2014    6  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1947  3/27/2014    5  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1948  3/26/2014    4  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1949  3/25/2014    3  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1950  3/24/2014    2  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali
1951  3/22/2014    0  Deaths_Mali     NaN  [Deaths, Mali]  Deaths    Mali

In [80]:
uber_data = pd.read_csv('nyc_uber_2014.csv')
print(uber_data.head())

   Unnamed: 0         Date/Time      Lat      Lon    Base
0           0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1           1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2           2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3           3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4           4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [82]:
uber1 = uber_data[0:] is in ['Date' == '']
print(uber1)

     Unnamed: 0         Date/Time      Lat      Lon    Base
0             0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1             1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2             2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3             3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4             4  4/1/2014 0:33:00  40.7594 -73.9722  B02512
5             5  4/1/2014 0:33:00  40.7383 -74.0403  B02512
6             6  4/1/2014 0:39:00  40.7223 -73.9887  B02512
7             7  4/1/2014 0:45:00  40.7620 -73.9790  B02512
8             8  4/1/2014 0:55:00  40.7524 -73.9960  B02512
9             9  4/1/2014 1:01:00  40.7575 -73.9846  B02512
10           10  4/1/2014 1:19:00  40.7256 -73.9869  B02512
11           11  4/1/2014 1:48:00  40.7591 -73.9684  B02512
12           12  4/1/2014 1:49:00  40.7271 -73.9803  B02512
13           13  4/1/2014 2:11:00  40.6463 -73.7896  B02512
14           14  4/1/2014 2:25:00  40.7564 -73.9167  B02512
15           15  4/1/2014 2:31:00  40.7666 -73.9531  B02512
16           16  4/1/2014 2:43:00  40.7580 -73.9761  B02512
17           17  4/1/2014 3:22:00  40.7238 -73.9821  B02512
18           18  4/1/2014 3:35:00  40.7531 -74.0039  B02512
19           19  4/1/2014 3:35:00  40.7389 -74.0393  B02512
20           20  4/1/2014 3:41:00  40.7619 -73.9715  B02512
21           21  4/1/2014 4:11:00  40.7530 -74.0042  B02512
22           22  4/1/2014 4:15:00  40.6561 -73.9531  B02512
23           23  4/1/2014 4:19:00  40.7250 -73.9844  B02512
24           24  4/1/2014 4:20:00  40.6950 -74.1783  B02512
25           25  4/1/2014 4:26:00  40.9859 -74.1578  B02512
26           26  4/1/2014 4:27:00  40.6879 -74.1814  B02512
27           27  4/1/2014 4:38:00  40.6878 -74.1816  B02512
28           28  4/1/2014 4:47:00  40.7234 -73.9974  B02512
29           29  4/1/2014 4:49:00  40.7336 -73.9900  B02512
..          ...               ...      ...      ...     ...
267          69  6/1/2014 2:50:00  40.7190 -73.9888  B02512
268          70  6/1/2014 2:51:00  40.6564 -73.6453  B02512
269          71  6/1/2014 2:53:00  40.7261 -73.9918  B02512
270          72  6/1/2014 2:54:00  40.7191 -73.9892  B02512
271          73  6/1/2014 2:58:00  40.7286 -73.9954  B02512
272          74  6/1/2014 3:10:00  40.7615 -73.9750  B02512
273          75  6/1/2014 3:11:00  40.7278 -73.9991  B02512
274          76  6/1/2014 3:14:00  40.7503 -73.9839  B02512
275          77  6/1/2014 3:19:00  40.7389 -74.0081  B02512
276          78  6/1/2014 3:23:00  40.7750 -73.9907  B02512
277          79  6/1/2014 3:32:00  40.7054 -74.0072  B02512
278          80  6/1/2014 3:35:00  40.7303 -74.0025  B02512
279          81  6/1/2014 3:36:00  40.7347 -73.9924  B02512
280          82  6/1/2014 4:03:00  40.7224 -73.9878  B02512
281          83  6/1/2014 4:51:00  40.6982 -73.4620  B02512
282          84  6/1/2014 4:54:00  40.6449 -73.7818  B02512
283          85  6/1/2014 4:56:00  40.6450 -73.7820  B02512
284          86  6/1/2014 5:07:00  40.7699 -73.9843  B02512
285          87  6/1/2014 5:10:00  40.7372 -73.9967  B02512
286          88  6/1/2014 5:14:00  40.6448 -73.7826  B02512
287          89  6/1/2014 5:48:00  40.7228 -74.0019  B02512
288          90  6/1/2014 6:19:00  40.7360 -73.9792  B02512
289          91  6/1/2014 6:21:00  40.7536 -73.9915  B02512
290          92  6/1/2014 6:24:00  40.7615 -73.9881  B02512
291          93  6/1/2014 6:25:00  40.8525 -73.8281  B02512
292          94  6/1/2014 6:27:00  40.7554 -73.9738  B02512
293          95  6/1/2014 6:35:00  40.7543 -73.9817  B02512
294          96  6/1/2014 6:37:00  40.7751 -73.9633  B02512
295          97  6/1/2014 6:46:00  40.6952 -74.1784  B02512
296          98  6/1/2014 6:51:00  40.7621 -73.9817  B02512

[297 rows x 5 columns]

In [2]:
import pandas as pd
ebola = pd.read_csv('ebola.csv')
ebola_melt = pd.melt(frame=ebola,id_vars=['Date','Day'])
print(ebola_melt.head())

ebola_melt['type_country'] = ebola_melt.variable.str[0:]
print(ebola_melt)
# Concatenate ebola_melt and status_country column-wise: ebola_tidy
#ebola_tidy = pd.concat([ebola_melt,type_country],axis=1)

# Print the shape of ebola_tidy
#print(ebola_tidy.shape)

# Print the head of ebola_tidy
#print(ebola_tidy.head())

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0
            Date  Day      variable   value  type_country
0       1/5/2015  289  Cases_Guinea  2776.0  Cases_Guinea
1       1/4/2015  288  Cases_Guinea  2775.0  Cases_Guinea
2       1/3/2015  287  Cases_Guinea  2769.0  Cases_Guinea
3       1/2/2015  286  Cases_Guinea     NaN  Cases_Guinea
4     12/31/2014  284  Cases_Guinea  2730.0  Cases_Guinea
5     12/28/2014  281  Cases_Guinea  2706.0  Cases_Guinea
6     12/27/2014  280  Cases_Guinea  2695.0  Cases_Guinea
7     12/24/2014  277  Cases_Guinea  2630.0  Cases_Guinea
8     12/21/2014  273  Cases_Guinea  2597.0  Cases_Guinea
9     12/20/2014  272  Cases_Guinea  2571.0  Cases_Guinea
10    12/18/2014  271  Cases_Guinea     NaN  Cases_Guinea
11    12/14/2014  267  Cases_Guinea  2416.0  Cases_Guinea
12     12/9/2014  262  Cases_Guinea     NaN  Cases_Guinea
13     12/7/2014  260  Cases_Guinea  2292.0  Cases_Guinea
14     12/3/2014  256  Cases_Guinea     NaN  Cases_Guinea
15    11/30/2014  253  Cases_Guinea  2164.0  Cases_Guinea
16    11/28/2014  251  Cases_Guinea     NaN  Cases_Guinea
17    11/23/2014  246  Cases_Guinea  2134.0  Cases_Guinea
18    11/22/2014  245  Cases_Guinea     NaN  Cases_Guinea
19    11/18/2014  241  Cases_Guinea  2047.0  Cases_Guinea
20    11/16/2014  239  Cases_Guinea  1971.0  Cases_Guinea
21    11/15/2014  238  Cases_Guinea     NaN  Cases_Guinea
22    11/11/2014  234  Cases_Guinea  1919.0  Cases_Guinea
23    11/10/2014  233  Cases_Guinea     NaN  Cases_Guinea
24     11/9/2014  232  Cases_Guinea  1878.0  Cases_Guinea
25     11/8/2014  231  Cases_Guinea     NaN  Cases_Guinea
26     11/4/2014  227  Cases_Guinea     NaN  Cases_Guinea
27     11/3/2014  226  Cases_Guinea  1760.0  Cases_Guinea
28     11/2/2014  225  Cases_Guinea  1731.0  Cases_Guinea
29    10/31/2014  222  Cases_Guinea     NaN  Cases_Guinea
...          ...  ...           ...     ...           ...
1922   5/23/2014   62   Deaths_Mali     NaN   Deaths_Mali
1923   5/12/2014   51   Deaths_Mali     NaN   Deaths_Mali
1924   5/10/2014   49   Deaths_Mali     NaN   Deaths_Mali
1925    5/7/2014   46   Deaths_Mali     NaN   Deaths_Mali
1926    5/5/2014   44   Deaths_Mali     NaN   Deaths_Mali
1927    5/3/2014   42   Deaths_Mali     NaN   Deaths_Mali
1928    5/1/2014   40   Deaths_Mali     NaN   Deaths_Mali
1929   4/26/2014   35   Deaths_Mali     NaN   Deaths_Mali
1930   4/24/2014   33   Deaths_Mali     NaN   Deaths_Mali
1931   4/23/2014   32   Deaths_Mali     NaN   Deaths_Mali
1932   4/22/2014   31   Deaths_Mali     NaN   Deaths_Mali
1933   4/21/2014   30   Deaths_Mali     NaN   Deaths_Mali
1934   4/20/2014   29   Deaths_Mali     NaN   Deaths_Mali
1935   4/17/2014   26   Deaths_Mali     NaN   Deaths_Mali
1936   4/16/2014   25   Deaths_Mali     NaN   Deaths_Mali
1937   4/15/2014   24   Deaths_Mali     NaN   Deaths_Mali
1938   4/14/2014   23   Deaths_Mali     NaN   Deaths_Mali
1939   4/11/2014   20   Deaths_Mali     NaN   Deaths_Mali
1940    4/9/2014   18   Deaths_Mali     NaN   Deaths_Mali
1941    4/7/2014   16   Deaths_Mali     NaN   Deaths_Mali
1942    4/4/2014   13   Deaths_Mali     NaN   Deaths_Mali
1943    4/1/2014   10   Deaths_Mali     NaN   Deaths_Mali
1944   3/31/2014    9   Deaths_Mali     NaN   Deaths_Mali
1945   3/29/2014    7   Deaths_Mali     NaN   Deaths_Mali
1946   3/28/2014    6   Deaths_Mali     NaN   Deaths_Mali
1947   3/27/2014    5   Deaths_Mali     NaN   Deaths_Mali
1948   3/26/2014    4   Deaths_Mali     NaN   Deaths_Mali
1949   3/25/2014    3   Deaths_Mali     NaN   Deaths_Mali
1950   3/24/2014    2   Deaths_Mali     NaN   Deaths_Mali
1951   3/22/2014    0   Deaths_Mali     NaN   Deaths_Mali

[1952 rows x 5 columns]

In [3]:
print(ebola.head())

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           NaN         8157.0                NaN
4  12/31/2014  284        2730.0         8115.0             9633.0

   Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
0            NaN            NaN                 NaN          NaN         NaN
1            NaN            NaN                 NaN          NaN         NaN
2            NaN            NaN                 NaN          NaN         NaN
3            NaN            NaN                 NaN          NaN         NaN
4            NaN            NaN                 NaN          NaN         NaN

   Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
0         1786.0             NaN              2977.0             NaN
1         1781.0             NaN              2943.0             NaN
2         1767.0          3496.0              2915.0             NaN
3            NaN          3496.0                 NaN             NaN
4         1739.0          3471.0              2827.0             NaN

   Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
0             NaN                  NaN           NaN          NaN
1             NaN                  NaN           NaN          NaN
2             NaN                  NaN           NaN          NaN
3             NaN                  NaN           NaN          NaN
4             NaN                  NaN           NaN          NaN

In [4]:
print(ebola.dtypes)

Date                    object
Day                      int64
Cases_Guinea           float64
Cases_Liberia          float64
Cases_SierraLeone      float64
Cases_Nigeria          float64
Cases_Senegal          float64
Cases_UnitedStates     float64
Cases_Spain            float64
Cases_Mali             float64
Deaths_Guinea          float64
Deaths_Liberia         float64
Deaths_SierraLeone     float64
Deaths_Nigeria         float64
Deaths_Senegal         float64
Deaths_UnitedStates    float64
Deaths_Spain           float64
Deaths_Mali            float64
dtype: object

In [6]:
ebola['Date'] = ebola['Cases_Guinea'].astype(str)
print(ebola.dtypes)

Date                    object
Day                      int64
Cases_Guinea           float64
Cases_Liberia          float64
Cases_SierraLeone      float64
Cases_Nigeria          float64
Cases_Senegal          float64
Cases_UnitedStates     float64
Cases_Spain            float64
Cases_Mali             float64
Deaths_Guinea          float64
Deaths_Liberia         float64
Deaths_SierraLeone     float64
Deaths_Nigeria         float64
Deaths_Senegal         float64
Deaths_UnitedStates    float64
Deaths_Spain           float64
Deaths_Mali            float64
dtype: object

In [8]:
tips_dataset = pd.read_csv('tips.csv')
print(tips_dataset.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
print(tips_dataset.dtypes)

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [10]:
tips_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.4+ KB

In [14]:
tips_dataset.sex = tips_dataset.sex.astype('category')
print(tips_dataset.info())
print(tips_dataset.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: category(1), float64(2), int64(1), object(3)
memory usage: 11.8+ KB
None
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
tips_dataset.smoker = tips_dataset.smoker.astype('category')
tips_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: category(2), float64(2), int64(1), object(2)
memory usage: 10.3+ KB

In [17]:
print(tips_dataset.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [20]:
tips_dataset.total_bill = pd.to_numeric(tips_dataset['total_bill'],errors='coerce')
print(tips_dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: category(2), float64(2), int64(1), object(2)
memory usage: 10.3+ KB
None

In [21]:
print(tips_dataset.head(10))
print('--------------------------------->')
print(tips_dataset.tail(10))

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2
--------------------------------->
     total_bill   tip     sex smoker   day    time  size
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [22]:
print(tips_dataset)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [24]:
tips_dataset['tip'] = pd.to_numeric(tips_dataset['tip'],errors='coerce')
print(tips_dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: category(2), float64(2), int64(1), object(2)
memory usage: 10.3+ KB
None

In [25]:
import re

In [26]:
# Import the regular expression module
import re

# Compile the pattern: prog
prog = re.compile('\d{3}-\d{3}-\d{4}')

# See if the pattern matches
result = prog.match('123-456-7890')
print(bool(result))

# See if the pattern matches
result2 = prog.match('1123-456-7890')
print(bool(result2))

True
False

In [42]:
# Import the regular expression module
import re

# Find the numeric values: matches
matches = re.findall('\d+', 'the recipe calls for 10 strawberries and 1 banana')

# Print the matches
print(type(matches))
print(matches)

<class 'list'>
['10', '1']

In [43]:
# Import the regular expression module
import re

# Find the numeric values: matches
matches = re.findall('\w+', 'the recipe calls for 10 strawberries and 1 banana')

# Print the matches
print(type(matches))
print(matches)

<class 'list'>
['the', 'recipe', 'calls', 'for', '10', 'strawberries', 'and', '1', 'banana']

In [45]:
# Write the first pattern
pattern1 = (re.match(pattern='\d{3}-\d{3}-\d{4}', string='123-456-7890'))
print(pattern1)

pattern1 = bool(re.match(pattern='\d{3}-\d{3}-\d{4}', string='123-456-7890'))
print(pattern1)

# Write the second pattern
pattern2 = bool(re.match(pattern='\$\d*\.\d{2}', string='$123.45'))
print(pattern2)

# Write the third pattern
pattern3 = bool(re.match(pattern='\w+', string='Australia'))
print(pattern3)

<re.Match object; span=(0, 12), match='123-456-7890'>
True
True
True

In [50]:
from numpy import NaN

# Define recode_gender()
def recode_gender(gender):

    # Return 0 if gender is 'Female'
    if gender == 'Male':
        return 1
    
    # Return 1 if gender is 'Male'    
    elif gender == 'Female':
        return 0
    
    # Return np.nan    
    else:
        return np.nan

# Apply the function to the sex column
tips_dataset['recode'] = tips_dataset.sex.apply(recode_gender)

# Print the first five rows of tips
print(tips_dataset.head())

   total_bill   tip     sex smoker  day    time  size recode
0       16.99  1.01  Female     No  Sun  Dinner     2      0
1       10.34  1.66    Male     No  Sun  Dinner     3      1
2       21.01  3.50    Male     No  Sun  Dinner     3      1
3       23.68  3.31    Male     No  Sun  Dinner     2      1
4       24.59  3.61  Female     No  Sun  Dinner     4      0

In [51]:
# Write the lambda function using replace
tips_dataset['total_dollar_replace'] = tips_dataset.total_dollar.apply(lambda x: x.replace('$', ''))

# Write the lambda function using regular expressions
tips_dataset['total_dollar_re'] = tips_dataset.total_dollar.apply(lambda x:re.findall('\d+\.\d+', x)[0])

# Print the head of tips
print(tips_dataset.head())

AttributeError: 'DataFrame' object has no attribute 'total_dollar'

In [55]:
print(tips_dataset.head())
tips_dataset.info()

   total_bill   tip     sex smoker  day    time  size recode
0       16.99  1.01  Female     No  Sun  Dinner     2      0
1       10.34  1.66    Male     No  Sun  Dinner     3      1
2       21.01  3.50    Male     No  Sun  Dinner     3      1
3       23.68  3.31    Male     No  Sun  Dinner     2      1
4       24.59  3.61  Female     No  Sun  Dinner     4      0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null object
time          244 non-null object
size          244 non-null int64
recode        244 non-null category
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.6+ KB

In [56]:
tips_dataset_no_duplicates = tips_dataset.drop_duplicates()
print(tips_dataset_no_duplicates.info())
print(tips_dataset_no_duplicates.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243 entries, 0 to 243
Data columns (total 8 columns):
total_bill    243 non-null float64
tip           243 non-null float64
sex           243 non-null category
smoker        243 non-null category
day           243 non-null object
time          243 non-null object
size          243 non-null int64
recode        243 non-null category
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 12.4+ KB
None
   total_bill   tip     sex smoker  day    time  size recode
0       16.99  1.01  Female     No  Sun  Dinner     2      0
1       10.34  1.66    Male     No  Sun  Dinner     3      1
2       21.01  3.50    Male     No  Sun  Dinner     3      1
3       23.68  3.31    Male     No  Sun  Dinner     2      1
4       24.59  3.61  Female     No  Sun  Dinner     4      0

In [57]:
airquality = pd.read_csv('airquality.csv')

In [58]:
print(airquality.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [59]:
print(airquality.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB
None

In [62]:
airquality_no_quality = airquality.drop_duplicates()
print(airquality_no_quality.head())
print(airquality_no_quality.info())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 8.4 KB
None

In [63]:
oz_mean = airquality['Ozone'].mean()

In [66]:
airquality['Ozone'] = airquality['Ozone'].fillna(oz_mean)
print(airquality.info())
print(airquality.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      153 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB
None
      Ozone  Solar.R  Wind  Temp  Month  Day
0  41.00000    190.0   7.4    67      5    1
1  36.00000    118.0   8.0    72      5    2
2  12.00000    149.0  12.6    74      5    3
3  18.00000    313.0  11.5    62      5    4
4  42.12931      NaN  14.3    56      5    5

ModuleNotFoundError: No module named 'tensorflow'